* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: azure;
}

.main-container{
    width: 100%;
    border: 5px solid black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    /* border: 1px solid darkblue; */
    width: 60vw;
    /* height:10vh; */
    margin: 2vh auto;
}

.form-container{

    /* border: 2px solid greenyellow; */
    height: 20vh;
    margin: 2vh auto;
}

.form-container form{
    width: 75%;
    border-left: 4px solid black;
    /* border-right: 4px solid black; */
    padding : 4px;
}

form .input-divs {

    /* background-color: yellow; */
    width: 100%;
    display: flex;
}

.input-divs input {
    padding: 1vh 1vw;
    font-size: 3vh;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
}
#task {
    width: 100%;
    margin-bottom: 3px;
    font-size: 3.3vh;
}
#f-time {
    width: 100%;
    margin-right: 6px;
    margin-top: 3px;
}
#add-todo {
    width: 25%;
    margin-right: 6px;
    margin-top: 3px;
}
#add-todo:hover {
    transition: 1s;
    background-color: blue;
}

#delete-all-todo {
    width: 25%;
    margin-top: 3px;
}
#delete-all-todo:hover {
    transition: .5s;
    background-color: red;
}
#search {
    margin-top: 6px;
    margin-left: auto;
    width: 50%;
    font-size: 3.3vh;
}
#task::placeholder{
    color: rgba(255, 255, 255, .5);
}
#f-time::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Inverts the color of the icon */
}

.todos-container {

    /* border: 3px solid red; */
    min-height: 30vh;
    margin: 8vh auto 0 auto;
}


.todo-table {
    width: 75%;
}

#table-body button {
    width: 6vw;
    padding: .75vh 0;
    /* background-color: rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    transition:1s;
}
#table-body button:hover{
    background-color: rgb(201, 201, 238);
}

.edit-btn {
    border: 2px solid green;
    color: green;
}

.delete-btn {
    border: 2px solid red;
    color: red;
}

.footer-container{
    background-color: gray;
    height: 10vh;
}
