* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.main-container{
    width: 100%;
    border: 5px solid black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    border: 1px solid darkblue;
    width: 60vw;
    /* height:10vh; */
    margin: 2vh auto;
}

.form-container{

    border: 2px solid greenyellow;
    height: 20vh;
    margin: 2vh auto;
}

.form-container form{

    border: 1px dotted orange;
    width: 80%;
}

form .input-divs {

    /* background-color: yellow; */
    width: 80%;
}

.todos-container {

    border: 3px solid red;
    min-height: 30vh;
    margin: 2vh auto;
}


.todos{

}

#table-body button {
    width: 6vw;
    padding: .75vh 0;
    /* background-color: rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    transition:1s;
}
#table-body button:hover{
    font-size: 1.25rem;
}

.edit-btn {

    border: 2px solid green;
    color: green;
}

.delete-btn {

    border: 2px solid red;
    color: red;
}

.footer-container{

    background-color: gray;
    height: 10vh;
}
