
table {
    border: 2px solid rgb(0, 0, 0);
}

thead {

}

tbody {

}

th, td {

    border: 1px solid purple;
    padding: .75vh 1.5vw;
    max-width: 600px;
}

th {
    color: red;
}

td {
    color: blue;
}